
.pydevproject

.project

.settings/org.eclipse.core.resources.prefs

dumbdbm_read_test.py

dumbdbm_test.py

redirect.py

replace.py

sample_output/stu_slave_20150506.csv

sample_output/stu_slave_20150506.csv

sqlcmp.pyc
